body{
  background-color: #fafad2;
  align-content: flex-end;
  
}
 /**navigation bar begins**/
.sidenava{
  height: 100%;
  width: 10em;
  position: fixed;
  z-index: 1;
top: 0;
left: 0;
  background-color: #ff9429;
}

.sidenava a{
padding: 1em;
width: 6em;
height: auto;
margin: 12px;
text-align: center;
color: #0000ff;
display: block;
background-color: #fafad2;

}

.navimj{
  max-width:1em;
  max-height:1em;
  display:block;
  border: #fafad2 4px;
}

.sidenava a:hover {
color: #ff9429;
}
/**nav code end***/
.abtpage{
padding: 1em;
width:8em;
height: auto;
margin: 12px;
text-align: center;
color: #0000ff;
display: block;
background-color: #fafad2;
}

.contactpage{
padding: 1em;
width:8em;
height: auto;
margin: 12px;
text-align: center;
color: #0000ff;
display: block;
background-color: #fafad2;
}

.visdevpage{
padding: 1em;
width:8em;
height: auto;
margin: 12px;
text-align: center;
color: #0000ff;
display: block;
background-color: #fafad2;
}

.comicspage{
padding: 1em;
width:8em;
height: auto;
margin: 12px;
text-align: center;
color: #0000ff;
display: block;
background-color: #fafad2;
}

.filmpage{
  padding: 1em;
  width:8em;
  height: auto;
  margin: 12px;
  text-align: center;
  color: #0000ff;
  display: block;
  background-color: #fafad2;
  }

.abtcontent{
margin-left:10.5em;
}

.main{
margin-left:10.5em;
}

.imjz{
  display: block;

}

.NewContent{
  background-color: #ff9429;
  display:inline;



}