body{
  background-color: #fafad2;
  align-content: flex-end;
  
}
 /**navigation bar begins**/
.sidenava{
  height: 100%;
  width: 10em;
  position: fixed;
top: 0;
left: 0;
  background-color: #ff9429;
}

.sidenava a{
padding: 1em;
width: 6em;
height: auto;
margin: 12px;
text-align: center;
color: #0000ff;
display: block;
background-color: #fafad2;

}

.navimj{
  display:block;
  margin-right:12px;
  max-width: 6em;
  padding-left:1em;
  padding-right:1em;
  height: auto;
  text-align: left;
  
  
}

.sidenava a:hover {
color: #ff9429;
}
/**nav code end***/

.abtpage{
padding: 1em;
width:8em;
height: auto;
margin: 12px;
text-align: center;
color: #0000ff;
display: block;
background-color: #fafad2;
}

.contactpage{
padding: 1em;
width:8em;
height: auto;
margin: 12px;
text-align: center;
color: #0000ff;
display: block;
background-color: #fafad2;
}

.visdevpage{
padding: 1em;
width:8em;
height: auto;
margin: 12px;
text-align: center;
color: #0000ff;
display: block;
background-color: #fafad2;
}

.comicspage{
padding: 1em;
width:8em;
height: auto;
margin: 12px;
text-align: center;
color: #0000ff;
display: block;
background-color: #fafad2;
}

.filmpage{
  padding: 1em;
  width:8em;
  height: auto;
  margin: 12px;
  text-align: center;
  color: #0000ff;
  display: block;
  background-color: #fafad2;
  }

.abtcontent{
margin-left:10.5em;
text-align: left;
min-width:500px;
max-width:600px; 
background-color: aquamarine;
border:15px solid #ff9429

}

.main{
margin-left:10.5em;

}

.imjz{
  display: block;

}

.NewContentTitle{
  background-color: #ff9429;
  display:inline;
  text-align: center;
  margin-left:10.5em;


}
.newcontent{ 
  display:inline;
  text-align: center;
  margin-left:10.5em;



}